<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletValidate</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ValidatorServlet</display-name>
    <servlet-name>ValidatorServlet</servlet-name>
    <servlet-class>com.training.servlet.ValidatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidatorServlet</servlet-name>
    <url-pattern>/ValidatorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionManager</display-name>
    <servlet-name>SessionManager</servlet-name>
    <servlet-class>com.training.servlet.SessionManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionManager</servlet-name>
    <url-pattern>/SessionManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadNames</display-name>
    <servlet-name>LoadNames</servlet-name>
    <servlet-class>come.training.servlet.LoadNames</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadNames</servlet-name>
    <url-pattern>/LoadNames</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadingNames</display-name>
    <servlet-name>LoadingNames</servlet-name>
    <servlet-class>com.training.servlet.LoadingNames</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadingNames</servlet-name>
    <url-pattern>/LoadingNames</url-pattern>
  </servlet-mapping>
</web-app>